@import "../../style/variables.scss";

.app-banner {
    width: 100%;
    background-color: $second-color;
    height: 100px;
    padding: 0 25px 0 45px;
    display: grid;
    grid-template-columns: 152px 650px 133px;
    &__text {
        font-weight: bold;
        font-size: 24px;
        color: #ffffff;
        padding-left: 83px;
        padding-top: 18px;
    }
    &__img {
        width: 200px;
    }
    &__logo {
        width: 130px;
    }
}
