@import "../../style/variables.scss";

.head2head {
    width: 100%;
    padding: 20px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
    a {
        display: block;
        text-align: center;
        &:hover {
            text-decoration: underline;
            color: $main-color;
        }
    }
    tr {
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
    }
    display: block;
    &__table {
        min-height: 288px;
        width: 100%;
    }
    &__title {
        font-weight: bold;
        font-size: 24px;
        color: $main-color;
        margin-bottom: 10px;
    }
    &__game {
        font-weight: bold;
        font-size: 22px;
        cursor: pointer;
        margin-top: 10px;
        &-full {
            // font-size: 30px;
            color: $main-color;
        }
        &-half {
            color: $second-color;
        }
        &-winner {
            color: goldenrod;
        }
        &-draw {
            color: black;
        }
        &-loose {
            color: grey;
        }
        &-date {
            font-style: italic;
            font-weight: normal;
        }
    }
}
