@import "../../style/variables.scss";

.team {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
    padding: 35px;
    min-height: 385px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 385px;
    &-sceleton {
        width: 90%;
    }
    &-title {
        text-transform: uppercase;
        color: $main-color;
    }
    &-subtitle {
        font-size: 22px;
        color: #000;
    }
    &-img {
        // margin: 0 auto;
        background: none;
        display: block;
        // width: 60%;
        object-fit: cover;
    }
    &-nav {
        width: 100%;
        display: grid;
        grid-template-columns: 190px auto;
        column-gap: 25px;
        &-img {
            width: 100px;
            height: 100px;
            object-fit: cover;
        }
        a {
            margin: auto;
        }
    }
    // &-btns {
    //     display: flex;
    //     align-items: center;
    //     width: 100%;
    //     justify-content: space-around;
    // }
}
.stadion {
    display: grid;
    grid-template-columns: auto 250px;
    column-gap: 25px;
    min-height: 187.5px;
    &-info {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    &-title {
        text-transform: uppercase;
    }
    &-subtitle {
    }
    &-img {
        width: 100%;
        object-fit: cover;
        text-align: center;
        margin: auto;
    }
}
