@import '../../style/variables.scss';

.single-game {
    text-align: center;
    margin-top: 50px;
    align-content: center;
    display: grid;
    grid-template-columns: 550px 400px;
    column-gap: 50px;
    align-items: start;
    h2 {
        margin-top: 25px;
    }
    &__img {
        margin: 20px;
    }
    &__name {
        font-weight: bold;
        font-size: 22px;
        line-height: 29px;
    }
    &__descr {
        font-size: 24px;
        line-height: 32px;
        margin-top: 20px;
    }
    &__price {
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        color: $main-color;
        margin-top: 25px;
    }
    &__back {
        margin-top: 100px;
        justify-self: end;
        font-weight: bold;
        font-size: 38px;
        line-height: 24px;
        &:hover {
            color: $main-color;
        }
    }
}