.spinner {
    margin: 0 auto;
    background: none;
    display: block;
    height: inherit;
    opacity: 1;
}
.anim {
    animation: anima 1s infinite;
}

@keyframes anima {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
