@import "../../style/variables.scss";

.app-header {
    display: grid;
    grid-template-columns: 33% 33% 14% 20%;
    align-items: center;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
    &__link {
        display: block;
    }
    &__title {
        font-weight: bold;
        font-size: 24px;
        text-transform: uppercase;
        span {
            color: $main-color;
        }
        &:hover {
            text-decoration: underline;
            color: $main-color;
        }
    }
    &__pale {
        color: rgba(0, 0, 0, 0.2);
        font-weight: bold;
        font-size: 24px;
        text-transform: uppercase;
        &:hover {
            color: rgba(0, 0, 0, 1);
            text-decoration: underline;
        }
    }
    &__team-name {
        font-weight: bold;
        font-size: 40px;
        text-transform: uppercase;
        color: $main-color;
        text-decoration: underline;
    }
    &__game-name {
        font-weight: bold;
        font-size: 20px;
        text-transform: uppercase;
        color: $main-color;
        text-decoration: underline;
    }
    &__select {
        font-weight: bold;
        font-size: 20px;
        text-transform: uppercase;
        color: $second-color;
        input[type="radio"]:checked + label {
            color: $main-color;
        }
    }
    &__country {
        margin: 0 20px;
        &:hover {
            text-decoration: underline;
        }
    }
    &__img {
        width: 100px;
        height: 60px;
    }
    &__logo {
        height: 70px;
    }
    &__score {
        font-weight: bold;
        font-size: 30px;
    }
    &__menu {
        display: flex;
        justify-content: space-between;
        font-weight: bold;
        font-size: 24px;
    }
    &__nav {
        margin: 0 8px;
        &:hover {
            color: $main-color;
        }
    }
}
.spinner {
    opacity: 1;
}
